*{
	margin: 0;
	padding: 0;
	outline: oklch(lightness chroma hue);
}

:root{
	--text-color:rgba(65,74,84, 0.8);
	--border-color:rgba(65,74,84, 0.6);
	--accent-color:#a1cb00;	
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #a1cb00;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #a1cb00;
}

html {
  scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color:#414a54;
	background: #fafafa;
	min-width: 360px;
}

.section{
	padding: 3.75rem 0;
}

.layout{
	width:1280px;
	margin: 0 auto;
	overflow: hidden;
}

.title{
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #414a54;
}

.input-box{
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 20px;
}

.input-box > input{
	width: 80%;
	font-size: 1.1rem;
	padding: 10px;
	outline: none;
	border: 1px solid #a1cb00;
	border-radius: 8px;
}

.input-box > span{
	font-size: .8rem;
	color: red;
	position: absolute;
	left: 5px;
	bottom: 0;
}

.input-box{
	font-size: .9rem;
	color: var(--text-color);
}

.whatsapp{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #3600fa;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: .6;
	z-index: 100;
	transition: all .3s ease;
}

.whatsapp:hover{
	opacity: 1;
}

@media screen and (max-width: 1320px){
	.layout{
		width: 90%;
	}

	.section{
		padding: 3rem 0;
	}	
	
	.title{
		font-size: 2.8rem;
		font-weight: 600;
	}
}

@media screen and (max-width: 1024px){
	.layout{
		width: 94%;
	}

	.section{
		padding: 2rem 0;
	}	
	
	.title{
		font-size: 2.4rem;
		font-weight: 600;
	}
}

@media screen and (max-width: 768px){
	.layout{
		width: 96%;
	}

	.section{
		padding: 1.5rem 0;
	}	
	
	.title{
		font-size: 2rem;
		font-weight: 600;
	}
}

@media screen and (max-width: 480px){
	body{
		font-size: 14px;
	}
}